/* Normalize */
tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Gotham Pro', sans-serif;
  src: url("/fonts/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* -- */
body {
  color: #2F2F34;
  font-size: 15px;
  line-height: 140%;
  font-family: "Gotham Pro", sans-serif;
  background: #FFFFFF;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1269px;
  margin: 0 auto;
  position: relative;
  /* padding-top: 93px; */
}

.align-h {
  margin-top: 93px;
  margin-bottom: 98px;
  z-index: 20;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fullFlex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.item-wrapper {
  width: 33.3%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.item-wrapper .item {
  padding: 24px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.item-wrapper .item .item-content {
  margin-top: 14px;
}

.item-wrapper .item .item-content .item-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  display: block;
  margin-bottom: 8px;
}

.item-wrapper .item .item-content .item-text div {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-right: 13%;
  opacity: 0.8;
}

.item-wrapper .item .item-content .item-text div span {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline;
  opacity: 0.8;
  letter-spacing: 0.07em;
}

.item-wrapper .item .item-content .item-icon-out {
  background: #ffeef0;
  padding: 4px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 58px;
  margin-top: 10px;
  margin-right: -1px;
}

.item-wrapper .item .item-content .item-icon-out .item-icon-in {
  background: #ffcfd5;
  padding: 11px;
  border-radius: 50%;
}

.item-wrapper .item .item-content .item-icon-out .item-icon-in img {
  max-width: 27px;
  max-height: 27px;
}

.item-wrapper .item > img {
  width: 100%;
}

.item-wrapper:nth-child(2n) .item .item-content .item-icon-out {
  background: #f3eefb;
}

.item-wrapper:nth-child(2n) .item .item-content .item-icon-out .item-icon-in {
  background: #ded0f4;
}

.item-wrapper:nth-child(3n) .item .item-content .item-icon-out {
  background: #eaf9fe;
}

.item-wrapper:nth-child(3n) .item .item-content .item-icon-out .item-icon-in {
  background: #c5effb;
}

.item-wrapper:nth-child(4n) .item .item-content .item-icon-out {
  background: #e6f7ec;
}

.item-wrapper:nth-child(4n) .item .item-content .item-icon-out .item-icon-in {
  background: #b8e9ca;
}

.item-wrapper:nth-child(5n) .item .item-content .item-icon-out {
  background: #fffbe6;
}

.item-wrapper:nth-child(5n) .item .item-content .item-icon-out .item-icon-in {
  background: #fff3b8;
}

.item-wrapper:nth-child(6n) .item .item-content .item-icon-out {
  background: #fef0ea;
}

.item-wrapper:nth-child(6n) .item .item-content .item-icon-out .item-icon-in {
  background: #fdd6c5;
}

.popup {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: auto;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.popup .popup_bg {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.7;
}

.popup .popup_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  width: 1339px;
}

.popup .popup_content {
  border-radius: 5px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 40px;
}

.popup .popup_content .close-popup {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 21px;
  width: 20px;
  height: 20px;
}

.popup .popup_content .close-popup:before, .popup .popup_content .close-popup:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background: #000;
  top: 10px;
}

.popup .popup_content .close-popup:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup_content .close-popup:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .popup_content .gallery {
  max-width: 56.6%;
}

.popup .popup_content .gallery .gallery-big {
  margin-bottom: -5px;
}

.popup .popup_content .gallery .gallery-big img {
  max-width: 100%;
  margin-bottom: 20px;
}

.popup .popup_content .gallery .gallery-small .thumb-wrapper {
  max-width: 31.8%;
  max-height: 152px;
  overflow: hidden;
}

.popup .popup_content .gallery .gallery-small .thumb-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.popup .popup_content .gallery .gallery-small .thumb-wrapper img.active {
  outline: 3px solid #F86D2E;
  outline-offset: -3px;
}

.popup .popup_content .gallery-content {
  padding-right: 3%;
  padding-left: 3.2%;
  padding-top: 46px;
}

.popup .popup_content .gallery-content .gallery-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 122%;
  margin-bottom: 27px;
}

.popup .popup_content .gallery-content .gallery-title span {
  color: #00B140;
}

.popup .popup_content .gallery-content .gallery-slogan {
  font-size: 18px;
  line-height: 140%;
  opacity: 0.8;
  margin-bottom: 38px;
}

.popup .popup_content .gallery-content .gallery-desc {
  padding-right: 22%;
}

.popup .popup_content .gallery-content .gallery-desc .desc-item {
  margin-bottom: 23px;
}

.popup .popup_content .gallery-content .gallery-desc .desc-item .desc-item-list {
  width: 10px;
  height: 10px;
  background: #00B140;
  border-radius: 2px;
  margin-left: 1px;
  margin-top: 6px;
}

.popup .popup_content .gallery-content .gallery-desc .desc-item .desc-item-text {
  opacity: 0.8;
  width: 93%;
}

.popup .popup_content .gallery-content .gallery-desc .desc-item .desc-item-text span {
  font-weight: 600;
}

.popup.visible {
  opacity: 1;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1369px) {
  .container {
    width: 95%;
  }
  .item-wrapper {
    width: 50%;
  }
  .item-wrapper .item > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .popup .popup_box {
    width: 95%;
  }
}

@media screen and (max-width: 999px) {
  .popup_box {
    padding-top: 20px;
    overflow-y: scroll;
  }
  .popup_box .popup_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .popup_box .popup_content .gallery-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-right: 0;
    padding-left: 0;
  }
  .popup_box .popup_content .gallery-content .gallery-desc {
    padding-right: 0;
  }
  .popup_box .popup_content .gallery {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
  }
}

@media screen and (max-width: 699px) {
  .item-wrapper {
    width: 100%;
  }
  .popup .popup_content .gallery-content {
    padding-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */